extends adminBase.pug
block content
    .row
        .container
            .admin-section
                .container
                    header
                        h5 Users
                        p Total Number of Sign Ups: 
                            strong.red-text !{userCount}
                    if user && user.isSuperUser
                        form(action='/admin/make-staff', method='POST')
                            .row
                                .col.s12
                                    p Grant Admin Priviledges
                                    .input-field.col.s12.l6
                                        input(type='hidden', name='_csrf', value=csrf)
                                    .input-field
                                        input#pack-name.col.s8.validate(type='text',
                                        name='username', placeholder='type a username to grant afmin access')
                                            //- label(for='pack-name') Name
                                        button.col.s4.btn.waves-effect.waves-light.teal Submit
            .admin-section
                .container
                    header
                        h5 Packs
                    form(action='/admin/create-pack', method='POST')
                        .row
                            .col.s12
                                p Create new Question Pack
                                .input-field.col.s12.l6
                                    input(type='hidden', name='_csrf', value=csrf)
                                .input-field
                                    input#pack-name.col.s10.validate(type='text',name='name')
                                    label(for='pack-name', data-error='wrong', data-success='right') Name
                                    button.btn-floating.s2.waves-effect.waves-light.teal
                                        i.material-icons add
                    a(href='/admin/pack') View pack List
            .admin-section
                .container
                    header
                        h5 News
                        a.waves-effect.waves-light(href='/admin/news') Go to news section
            .admin-section
                .container
                    header
                        h5 Faqs
                        a.waves-effect.waves-light(href='/admin/faqs') Go to faqs section
            .admin-section
                .container
                    header
                        h5 Institutions
                    form.col.s12(action='/admin/institution', method='POST')
                        .row
                            .col.s12
                                .input-field.col.s12.l6
                                    input(type='hidden', name='_csrf', value=csrf)
                                .input-field
                                    input#institution-name.col.s10.validate(type='text',name='institution')
                                    label(for='institution-name') Name
                                    button.btn-floating.s2.waves-effect.waves-light.teal
                                        i.material-icons add
                    a.waves-effect.waves-light(href='/admin/institution') See institution list here

            .admin-section
                .container
                    header
                        h5 Tokens
                        form#create-token-form(action='', method='POST')
                            .row
                                .col.s12
                                    .input-field.col.s12.l6
                                        input(type='hidden', name='_csrf', value=csrf)
                                .col.s12
                                    .input-field
                                        input#total.col.s10.validate(type='number',name='total',placeholder='Total number of tokens' min='1')
                                .col.s12
                                    .input-field
                                        input#maxUse.col.s10.validate(type='number', name='maxUse', placeholder='Max Use per token', min='1')
                                .col.s12
                                    .input-field
                                        button#create-token-btn.btn.waves-effect.waves-light.teal
                                            | Create Tokens
            if user && user.isSuperUser
            .admin-section
                .container
                    header
                        h5 Reset Season
                    form(action='/admin/season-reset', method='POST')
                        .row
                            .col.s12
                                p Reset Season By Institution
                                .input-field.col.s12.l6
                                    input(type='hidden', name='_csrf', value=csrf)
                                .input-field.col.s12.l6
                                    i.material-icons.prefix school
                                    select#institution(name='institution', required)
                                        option(value='', disabled='', selected='false') Select Institution
                                        each institution in institutions
                                            option(value=institution.institution) #{institution.institution}
                                button.btn.waves-effect.waves-light.teal RESET
