extends base.pug
block content
    .container
        if details
            -var email = details.email || ''
            -var surName = details.surName || ''
            -var firstName = details.firstName || ''
            -var username = details.username || ''
            -var institution = details.institution || ''
            -var matriculationNumber = details.matriculationNumber || ''
            -var telephone = details.telephone || ''
        .row
            form.col.s12.l6.offset-l3(action='/accounts/sign-up', method='POST')
                .row
                    .center
                        h4
                            strong Sign Up for a free account
                    #errors
                        if errors
                            each err in errors
                                .col.s12.card.materialize-red.white-text
                                    p !{err.msg}
                    .input-field.col.s12
                        input(type='hidden', name='_csrf', value=csrf)
                    .input-field.col.s12
                        input#email.validate(type='email', name='email', value=email, required, maxlength="100")
                        label(for='email') Email
                    .input-field.col.s12
                        input#surname.validate(type='text', name='surName', value=surName, required, minlength="1", maxlength="100")
                        label(for='surname') Surname
                    .input-field.col.s12
                        input#firstName.validate(type='text', name='firstName', value=firstName, required, minlength="1", maxlength="100")
                        label(for='firstName') First name
                    .input-field.col.s12
                        input#username.validate(type='text', name='username', value=username, required, minlength="8", maxlength="60")
                        label(for='username') Username
                    .input-field.col.s12
                        fieldset
                            legend Sex:
                            input#male.validate(type='radio', name='sex' value='male', required)
                            label(for='male') male
                            input#female.validate(type='radio', name='sex' value='female', required)
                            label(for='female') female
                    .input-field.col.s12
                        input#password.validate(type='password', name='password', required, minlength="8", maxlength="60", title="must be at leat 8 characters long")
                        label(for='password') Password
                    .input-field.col.s12
                        input#password2.validate(type='password', name='password2', required)
                        label(for='password2') Confirm Password
                    .input-field.col.s12
                        select#institution.browser-default(name='institution', required)
                            option(value='', disabled='', selected='') Choose your institution
                            each institution in institutions
                                option(value=institution.institution) #{institution.institution}
                    .input-field.col.s12
                        input#matriculationNumber(type='text', name='matriculationNumber', value=matriculationNumber, required)
                        label(for='matriculationNumber') Matriculation/Registration Number
                    .input-field.col.s12
                        input#icon_telephone.validate(type='tel', name='telephone', value=telephone, required,  pattern="^234[0-9]{10}$")
                        label(for='icon_telephone') Telephone e.g 2348012345678
                    button.waves-effect.waves-light.btn.col.s6.offset-s3
                        | SIGN UP
                    .col.s12
                        p  ALready have an account? 
                            span
                                strong
                                    | Click here to 
                                    a(href='/accounts/login') Login
