.col.s12
    -var url = '/admin/faqs'
    if faq
        -var question = faq.question || ''
        -var answer = faq.answer || ''
        -var url = `/admin/faqs/${faq._id}/edit`
    form.col.s12(action=url, method='POST')
        .row
            .container.center
                h5 Add FAQ
            .input-field.col.s12.l6
                input(type='hidden', name='_csrf', value=csrf)
            .input-field.col.s12
                input#question.validate(type='text', name='question' value=question)
                label(for='question') Question
            .input-field.col.s12
                textarea#answer.materialize-textarea.validate(type='text', name='answer') !{answer}
                label(for='answer') Answer
            .col.s12
                button.btn.waves-effect.waves-light.teal
                    | ADD FAQ
