.col.s12
    h3.center Latest News
    hr
    if news
        each item in news
            .col.s12
                .col.s8
                    h5 #{item.title}
                if user && user.isStaff
                    .col.s4
                        a.control.edit-link.btn.waves-effect.waves-light.teal.darken-4(href=`/admin/news/${item._id}/edit` data-id=item._id data-type='news')
                            i.material-icons(data-id=item._id data-type='news') edit
                        a.control.delete-link.btn.waves-effect.waves-light.red.darken-4(href='#' data-id=item._id data-type='news')
                            i.material-icons(data-id=item._id data-type='news') delete
            .col.s12
                p !{item.body}
            hr
    else
        p Nothing here for now
